{:deps {integrant/integrant {:mvn/version "0.8.0"}
        aero/aero {:mvn/version "1.1.6"}
        clj-http/clj-http {:mvn/version "3.12.0"}
        org.clojure/data.json {:mvn/version "2.0.1"}        
        metosin/reitit {:mvn/version "0.5.12"}
        ring/ring-jetty-adapter {:mvn/version "1.9.2"}
        github-tiagodalloca/eep
        {:git/url "https://github.com/tiagodalloca/eep" :sha "88c0cb678358cd30b3b6d97e043b74abcf15bd8a"}}

 :aliases {:dev {:extra-paths ["development/src"
                               "development/resources"
                               "messenger/src"
                               "messenger/resources"]

                 :extra-deps {integrant/repl {:mvn/version "0.3.2"}
                              ring/ring-mock {:mvn/version "0.4.0"}}}}}

;; (set 'cider-clojure-cli-global-options "-M:dev -e \"(require,'user.dalloca)\"")

