{:aliases {:dev {:extra-paths ["development/src"

                               "messenger/src"]
                 :extra-deps {integrant/repl {:mvn/version "0.3.2"}

                              integrant/integrant {:mvn/version "0.8.0"}
                              compojure/compojure {:mvn/version "1.6.2"}}}}}

;; (set 'cider-clojure-cli-global-options "-M:dev -e \"(require,'user.dalloca)\"")

